/* Table */
thead {
  background-color: #E5E5E5; 
}

td{
  font-size: 15px;
  background-color: #fff; 
}

.table td, .table th {
  vertical-align: middle;
}

table tr {
  border: 1px solid #ddd;
  padding: .35em;
}

.check-mobile{
  display: none;
}

  @media screen and (max-width: 600px) {
    /* untuk ilangin table thead di mobile */ 
    /*table.responsive thead {
      overflow: hidden; 
      position: absolute;
      width: 1px;

      border: none; 
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      padding: 0;
    }
    
    table.responsive tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }
    
    table.responsive td {
      border-bottom: 1px solid #ddd;
      display: block;
      text-align: right;
      width: 100%;
    }
    
    table.responsive td::before {
      content: attr(data-label);
      float: left;
      font-weight: bold;
    }
    
    table.responsive td:last-child {
      border-bottom: 0;
    }

    .check-mobile{
      display: block;
    }*/
  }
  
/* Sidebar */
.wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
}

#sidebar {
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 999;
  background: #FFFFFF;
  color: #3B3734;
  transition: all 0.3s;
  box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#sidebar.active {
  margin-left: -250px;
}

#sidebarCollapse {
  display: none;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.bg-sidebar {
  background-color: #a39f9f;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index:2147483646 !important;
  opacity: 0.7;
  cursor: pointer;
}


@media screen and (max-width: 769px) {
  #sidebar {
    margin-left: -250px;
    z-index: 2147483647;
  }

  #sidebar.active {
    margin-left: 0;
  }

  .menu-header {
    width:100% !important;
  }

  #page-content, .footer {
    margin-left: 0px !important;
  }

  #sidebarCollapse {
    display: inline-block;
  }
}

a, a:hover, a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

/* Sidebar Header */  
#sidebar .sidebar-header {
  padding: 20px;
  background: #FFFFFF;
}

/* Sidebar menu */
#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

#sidebar ul li a:hover {
  color: #3B3734;
  background: #D8D8D8;
}

#sidebar ul li.active span > a, #sidebar ul li span > a[aria-expanded="true"]
{
  color: #3B3734;
  background-image: linear-gradient(-135deg, #70C5FF 0%, #49D1EF 52%, #70C5FF 100%);
  box-shadow: 0 2px 3px 1px rgba(183,183,183,0.50);
}

#sidebar ul li.active ul li.active > a {
  color: #3B3734;
  background: #D8D8D8; 
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #F1F1F1;
}

#sidebar > ul {
  padding-left: 20px;
  padding-right: 20px;
}

#sidebar ul li a i{
  margin-right: 15px;
}

/* Content */
#page-content{
  width: 100%;
  margin-left: 250px;
  /*margin-bottom: 100px;*/
  margin-top: 90px;
}

/* Footer */
.footer {
  background-color: #444444;
  padding: 15px;
  margin-left: 250px;
}

.footer-txt {
  color: #FFFFFF;
}

/* Navbar */
.menu-header {
  background-image: linear-gradient(-225deg, #13A5F5 0%, #4ABAF1 56%, #13A5F5 100%);
  padding: 15px;
  position: fixed;
  right: 0;
  top: 0;
  width:calc(100% - 250px);
  z-index:100;
  height: 80px;
}

.submenu-header {
  color:#12425B;
  font-size: 17px;
}

.div-header {
  display: flex; 
  align-items: center;
}

.submenu-navbar {
  color:#12425B;
  font-size: 15px;  
}

.icon-menu {
  margin-right: 15px;
}

/* Reflink */
#reflink-box {
  margin-left: 5px;
}

.icon-reflink {
  margin: 0px 5px;
}

.btn-copy {
  background-color: #09950E;
}

@media (max-width:769px){
  #reflink-box {
    margin-left: 2px;
  }

  .submenu-header {
    font-size: 15px;
  }

  .submenu-header.label-reflink {
    margin-left: 5px;
  }

  #sidebarCollapse {
    padding: 2px;
    float: left;
  }

  .icon-reflink {
    margin: 0px 2px;
  }

  .navbar-reflink {
    text-align: center;
  }

  #page-content {
    margin-top:85px;
  }
}

/* Dashboard */
.card {
  box-shadow: 0 1px 5px 0 rgba(183,183,183,0.50);
  margin-bottom: 20px;
}

.card.dashboard {
  height: 225px;
}

@media screen and (max-width: 769px) {
  .card.dashboard {
    height: 240px;
  }
}

.card-body.dashboard {
  padding-top: 30px;
}

.card-body > a {
  color: #3490dc;
}

.card-body > a:hover {
  text-decoration: underline;
}

.card-body > p {
  padding-top: 4px; 
  padding-bottom: 17px;
}

.card-header > h5 {
  padding-top: 10px; 
  font-size: 20px;
  font-weight: 600;
}

.card-header > h3 {
  padding-top: 5px; 
  font-weight: 600;
}

.calc{
  border-top: 10px solid #787BE6;
}

.pdf {
  border-top: 10px solid #F3484E; 
}

.csv {
  border-top: 10px solid #2DAAA4; 
}

.group {
  border-top: 10px solid #56ACE5; 
}

h1 {
  font-size: 45px;
  font-weight: 700;
}

sub {
  top: -0.1em;
  font-size: 18px;
  font-weight: 300;
}

/* History Search*/
.profpic-tb {
  max-width:50px; 
  border-radius:50%;
  margin-right: 10px;
}

.menu-savepdf {
  color: #63ADF8;
  cursor: pointer;
}

.menu-delete {
  color: #FF6D6E;
  cursor: pointer;
}

.icon-dropdown {
  display: inline-block; 
  float: right;
  margin-top: -12px;
  font-size: 25px;
  cursor: pointer;
}

/* Poin history */
#profpic-point{
  width: 75px;
  height: 75px;
  object-fit: cover;
  border-radius: 50%;
}

.poinplus {
  color: #409AF7;
}

.poinmin {
  color: #E82739;
}

.icon-poin {
  margin-top:10px;
  margin-right: 5px;
}

.card-point {
  padding: 0px;
}  

.info-point {
  padding:10px 20px;
}

.desc-point {
  font-size: 14px;
  font-weight: 600;
}

/* Dashboard */
.date-dashboard {
  font-size: 15px;
  text-align: right;
}

.forbid {
  opacity: 0.4;
  position: relative;
}

.btn-upgrade {
  position: absolute;
  padding-left: 10px;
  padding-right: 10px;
  top: 52px;
  left: 50%;
  margin-left: -74px;
  /*z-index: 10;*/
  z-index: 1;
  text-align: center;
  display: none;
  min-width: 150px;
}

.popup-newWindow {
  color: #33B1F3;
}

.popup-newWindow:hover {
  color: #33B1F3;
  border-bottom: 1px solid #33B1F3;
}

.point-card {
  /*min-height : 140px;
  padding-top:30px;*/

  min-height: 162px;
  padding-top: 40px;
}

.btn-upgrade-poin {
  width: 200px;
  font-size: 16px;
}

/* Upgrade Account */
sub {
  font-size: 20px;
}
sup {
  font-size: 60%;
}

.upgrade-details2 {
  line-height: 2;
}

.card-ribbon {
  overflow: hidden;
}

/* The ribbons */
.corner-ribbon{
  width: 200px;
  position: absolute;
  text-align: center;
  line-height: 35px;
  letter-spacing: 1px;
  color: #f0f0f0;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

/* Different positions */
.corner-ribbon.top-right{
  top: 25px;
  right: -50px;
  left: auto;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

/* Colors */
.corner-ribbon.green {
  background: #0DA434; 
}

.corner-ribbon.orange {
  background: #F6A82A;
}

.view-premium, .view-pro {
  line-height: 1.5; 
}

.header-top {
  background-color: #fff;
  color: #505050;  
  margin-top: -12px;
  margin-left: -20px;
  margin-right: -20px;
  padding: 20px;
  font-size: 20px;
}

.icon-upgrade {
  font-size: 19px;
}

.sbold {
  font-family: SourceSansPro-Bold;
}

.hemat {
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: #4D91D6;
  cursor: pointer;

  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.harga-real {
  /*font-size: 20px;*/
  font-size: 18px;
  font-weight: bold;
}

.upgrade-details{
  font-size: 17px;
  padding: 60px 20px;
}

.upgrade-radio {
  font-size: 18px;
}

@media screen and (min-width: 769px) {
  .info-member {
    position: absolute; 
    margin-bottom:5px;
    bottom:0px;
    right:15px;
  }
}

@media screen and (max-width: 769px) {
  .header-top {
    margin-left: -11px;
    margin-right: -11px;
    font-size: 14px;
  }
  .harga-real {
    font-size: 14px;
  }
  .hemat {
    font-size: 14px;
  }
}

@media screen and (max-width: 360px) {
  .upgrade-radio {
    font-size: 17px;
  }
}

.btn-pricing {
  border:1px solid #DEDEDE;
  border-radius: 25px;
  background-color: #1E88F5;
  color: #fff; 
  padding: 5px 30px; 
  /*box-shadow: 0 1px 5px 0 rgba(183,183,183,0.50);*/
  outline: none;
}

.btn-pricing:hover {
  background-color: #1E88F5;
  color: #fff; 
  border:1px solid #DEDEDE;
}

.btn-secondary:not(:disabled):not(.disabled).active, 
.btn-secondary:not(:disabled):not(.disabled):active, 
.show>.btn-secondary.dropdown-toggle {
  background-color: #fff;
  color: #44698A;
  border:1px solid #DEDEDE;
}

.btn-group {
  padding-left: 10px;
  padding-right: 10px;
}

.btn-upgrade-big {
  /*background-color: #FEBE54;
  color: #505050;
  border-radius: 25px;
  padding-left: 95px;
  padding-right: 95px;
  font-weight: 900;*/

  color: #fff;
  font-size: 22px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.link-pro,.link-premium {
  text-decoration: none !important;
}

.btn-upgrade-big.pro {
  background-color: #0DA434;
}

.btn-upgrade-big.premium {
  background-color: #F6A82A;
}

.green-color{
  color: #0DA335;
}

.orange-color{
  color: #F6A82A;
}

.red-color{
  color: #B40707;
}

.upgrade-pro {
  background-image: linear-gradient(-136deg, #0E76EF 0%, #2E8DF6 52%, #137BF5 100%);
  border-bottom: 10px solid #106BC8;
  color: #fff;
}

.upgrade-premium {
  background-image: linear-gradient(-135deg, #762CD8 0%, rgba(161,89,255,0.99) 49%, rgba(116,43,212,0.99) 100%);
  border-bottom: 10px solid #6010C7;
  color: #fff;
}

.blue {
  color: #248BF6;
}

.harga {
  font-family: SourceSansPro-Bold;
  font-size: 45px;
}

.header-1 {
  font-size: 19px;
}

.view-more-pro, .view-more-premium {
  color: #3490dc;
}

@media screen and (max-width: 769px) {
  .harga {
    /*font-family: SourceSansPro-Bold;
    font-size: 30px;*/
    font-size: 14px;
  }  

  .btn-upgrade-big {
    /*font-size: 18px;
    padding-left: 70px;
    padding-right: 70px;*/
    font-size: 13px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .card-header.upgrade-pro, .card-header.upgrade-premium {
    padding: 10px;
  }

  .header-1 {
    font-size: 17px;
  }
}

/* Group */
.link-listgrup:hover {
  color: #1BA8F4;
  text-decoration: underline;
}

/* Edit Profile */
.profpic-edit {
  width:100px; 
  height:100px; 
  object-fit:cover; 
  border-radius: 50%;
}

/* Order */
@media screen and (max-width: 767px) {
  .colstatus {
    width: 139px;
  }
}

/* Miscellaneous */
.label-calculate {
  font-size: 16px;
}

.btn-sm {
  font-size: 12px;
  padding: .25rem 8px;
}

.btn-sm-search {
  padding-left: 15px;
  padding-right: 15px;
}

.btn-upgrade-sm {
  background-color: #fff;
  border-radius: 25px;
  padding-left: 20px;
  padding-right: 20px;
}

.menu-mobile {
  display: none;
}

.page-link {
  padding: 2px 10px;
}

.pagination {
  justify-content: flex-end;
}

@media screen and (max-width: 769px) {
  .btn-sm-search  {
    padding: .25rem 8px;
    width: 53px;
  }

  .menu-nomobile {
    display: none;
  }

  .menu-mobile {
    display: block;
  }

  .profpic-mobile {
    position:absolute; 
    right:15px;
  }

  .date-dashboard {
    text-align: left;
  }

  .pagination {
    justify-content: center;
  }  
}

#pesan {
  display: none;
}

.icon-header-mobile {
  font-size: 20px;
}

.menu-toggle{
  position:absolute; 
  left:15px;
}

.btn-search-more {
  padding-left: 25px; 
  padding-right: 25px;
  border-radius: 25px;
}

.btn-search-more:hover {
  background-color: #08db32;
  border-color: #08db32;
}

@media screen and (min-width: 600px)  {
  .mobile-break { display: none; }
}